/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Navbar stili */
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #270858;
  padding: 10px;
  color: white;
}

.brand {
  font-weight: bolder;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.search-bar {
  width: 60%;
}

.search-bar input {
  width: 100%;
  padding: 10px;
}

input::placeholder {
  padding: 10px;
  font-weight: bold;
}

.cart {
  width: 20%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

/* Filtreleme ve diğer stil ayarları */
.nav-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #080808; /* Son haliyle stil */
  border-top: 1px solid #080808; /* Renk ve sınır */
}

.items {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #080808;
  border-radius: 4px;
  color: white; /* Yazı rengini beyaz yaparak okunabilirliği artırır */
  transition: background-color 0.3s;
}

.items:hover {
  background-color: #333; /* Hover rengini daha belirgin hale getirir */
}

/* Ürün kartları için grid düzeni */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px; /* Kartlar arasındaki boşluk */
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff; /* Kart arka plan rengi */
}

.card-img-top {
  width: 100%;
  height: 200px; /* İhtiyaca göre ayarlayabilirsiniz */
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

/* Butonlar */
.btn {
  margin: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
  border: none;
}

/* Badge stili */
.badge {
  position: absolute;
  top: 0;
  right: 0;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  max-width: 100%;
  height: auto;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
